{% include 'adminheader.html' %}
 <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/static/bike2.jpg); background-attachment: fixed;height: auto" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
<center>
	<form method="post">
		{% if data['updater'] %}
		<h1>UPDATE PASSWORD	</h1>



		<table class="table" style="width:  700px" rules="none">
		<tr style="border-bottom-style: hidden">
			<th>NEW PASSWORD</th>
			<td><input type="text" name="npass"  class="form-control"></td>
		</tr>
		<tr style="border-bottom-style: hidden">
			<th>CONFORM PASSWORD</th>
			<td><input type="text" name="cpass"  class="form-control" >
			
		</tr>
		
		<tr>
			<td colspan="2" align="center"><input type="submit" name="update" value="UPDATE" class="btn btn-primary"></td>
		</tr>
	</table>

		{% endif %}
	</form>
</center>
		</div>
					</div>
				</div>
			</div>
		</div>
	</header>

{% include 'footer.html' %}