{% include 'publicheader.html' %}
<center>

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/static/1.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>WELCOME TO ROYAL BIKES</h1>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</center>
<div id="fh5co-counter" class="fh5co-counters">
		<div class="container">
			<!-- <div class="row">
				<div class="col-md-3 text-center animate-box">
					<span class="fh5co-counter js-counter" data-from="0" data-to="40356" data-speed="5000" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">Bikes</span>
				</div>
				<div class="col-md-3 text-center animate-box">
					<span class="fh5co-counter js-counter" data-from="0" data-to="30290" data-speed="5000" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">cars</span>
				</div>
				<div class="col-md-3 text-center animate-box">
					<span class="fh5co-counter js-counter" data-from="0" data-to="2039" data-speed="5000" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">Instructor</span>
				</div>
				<div class="col-md-3 text-center animate-box">
					<span class="fh5co-counter js-counter" data-from="0" data-to="997585" data-speed="5000" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">Earnings</span>
				</div>
			</div> -->
		</div>
	</div>

		<div id="fh5co-started" style="background-image:url(/static/images/img_bg_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Lets Get Started</h2>
					<p>We obsess on giving you the best possible experience.This is not only with well serviced bikes but also with a 24/7 support team available just a call away.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="login" class="btn btn-default btn-lg">Book Your Ride</a></p>
				</div>
			</div>
		</div>
	</div>



{% include 'footer.html' %}