{% include 'publicheader.html' %}

 <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/static/1.jpg); background-attachment: fixed;height: auto" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn"> 

		   						<center>
		   						<form method="post">
								<h1>LOGIN</h1>
								<table class="table" style="width: 500px" rules="none">
									<tr style="border-bottom-style: hidden">
										<th>USERNAME</th>
										<td><input type="text" name="uname" class="form-control"></td>
									</tr>
									<tr style="border-bottom-style: hidden">
										<th>PASSWORD</th>
										<td><input type="password" name="password" class="form-control"></td>
									</tr>
									<tr style="border-bottom-style: hidden">
										<td colspan="2" align="center"><input type="submit" name="submit" value="Login" class="btn btn-primary"></td>
									</tr>
									<tr>
										<td colspan="2" align="center"><a href="public_changepassword" class="btn btn-warning">Forgot Password</a></td>
									</tr>
									<!-- <tr>
										<td colspan="2" align="right"><a href="userreg" class="btn btn-warning">New Customer? Cilck Here To Register</a></td>
									</tr> -->
								</table>
								</form>
							</center>
                            
					</div>
					</div>
				</div>
			</div>
		</div>
	</header>


		   						
		   				

			

{% include 'footer.html' %}