{% include 'staffheader.html' %}

 <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/static/3.jpg); background-attachment: fixed;height: auto" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
<center>
	<form method="post">
	
		<h1>UPDATE  PROFILE</h1>



		<table class="table" style="width:  700px" rules="none">
		<tr style="border-bottom-style: hidden">
			<th>FIRST NAME</th>
			<td><input type="text" name="fname"  class="form-control" value="{{data['updater'][0]['firstname']}}"></td>
		</tr>
		<tr style="border-bottom-style: hidden">
			<th>LAST NAME</th>
			<td><input type="text" name="lname"  class="form-control" value="{{data['updater'][0]['lastname']}}">
			
		</tr>
		<tr style="border-bottom-style: hidden">
			<th>PLACE</th>
			<td><input type="text" name="place"  class="form-control" value="{{data['updater'][0]['place']}}"></td>
		</tr>
		<tr style="border-bottom-style: hidden">
			<th>PHONE</th>
			<td><input type="text" name="phone"  class="form-control" value="{{data['updater'][0]['phone']}}"></td>
		</tr>
		<tr style="border-bottom-style: hidden">
			<th>EMAIL</th>
			<td>
			<input type="email" name="email"  class="form-control" value="{{data['updater'][0]['email']}}"></td>
		</tr>
		<tr style="border-bottom-style: hidden">
			<th>USERNAME</th>
			<td>
			<input type="text" name="uname"  class="form-control" value="{{data['updater'][0]['username']}}" minlength="5" placeholder="Password Must Be Atleast 5 Charecter"></td>
		</tr>
		<tr style="border-bottom-style: hidden">
			<th>PASSWORD</th>
			<td>
			<input type="text" name="password"  class="form-control" value="{{data['updater'][0]['password']}}" minlength="8" placeholder="Password Must Be Atleast 8 Charecter"></td>
		</tr>
		
		<tr>
			<td colspan="2" align="center"><input type="submit" name="update" value="UPDATE" class="btn btn-primary"></td>
		</tr>
	</table>

                     
					</div>
					</div>
				</div>
			</div>
		</div>
	</header>
		


{% include 'footer.html' %}